.container {
  width: 1200px;
  margin: 0 auto;
  background: blue;
}

.container::after, .container::before {
  content: "";
  display: table;
  clear: both;
}

.grid-3 {
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.5);
  float: left;
  color: white;
}
